@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,600&family=Roboto:ital,wght@0,300;0,700;0,900;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');





*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;                    
}
.cabecalho{
	clear: both;
	overflow: hidden;
	
}
.banner{
	filter: brightness(69%);
	position: absolute;
	right:0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
}
.section-padding{
	padding:50px 0;
}
.wrapper{
	width: 1170px;
	margin: 0 auto;
}
header{
	overflow: hidden;
	height: 100vh;
}
nav{
	height: 70px;
	position: absolute;
	width: 100%;
	background: black;
	position: fixed;
	left: 0
	top: 0
	width:100%;
	z-index: 9;
	

	
}
.logo{
	margin: 10px 50px;
	height: 60px;
	float: left;
	color: #fff;
	font-size: 35px;
	text-transform: uppercase;
}
.menu-box{
	float: right;
	list-style: none;
	margin: 20px;
}
.menu-box li{
	display: inline-block;
	margin: 0 5px
}
.menu-box li a{
	text-decoration: none;
	color: white;
	padding: 5px 10px;
	letter-spacing: 2px;
	font-family: 'Poppins',Sans-serif;
	font-weight: 400;
	font-size:18px;
}
.menu-box li.item-menu a {
	background:"";

}
.menu-box li a:hover{
	color:grey;
	transition:.1s;

}
.texto-banner{
	position: absolute;
	top: 35%;
	text-decoration:center;
	left: 16%;
}
.texto-banner h2{
	color:#fff;
	font-size: 152px;
    margin: 6px 0px 0 215px;
	font-weight: bold;
	font-family: 'Amatic SC', cursive;
	justify-content: center;
	-webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
	
}
.texto-banner button{
    text-align: center;
    color: white;
    background-color: #131010;
    width: 14%;
    padding: 5px;
    font-family: 'Poppins',Sans-serif;
    outline: none;
    border: 1px solid white;
    margin: 0 0 0 55%;
}
.texto-banner button:hover{
    background:white;
    color: #131010;
    transition:1s;
    outline: none;
    border:1px solid black;
}
  /*SEÇÂO PRATOS */
 
 .box-pratos{
 	background-color: #EAE8E8;
 	border-radius: 10px;
 	padding: 0px 0px 110px 0;


}
.sessao-header{
	display: flex;
	align-items: center;
	justify-content: center;
}
.sessao-header h2{
	font-family: 'Courgette', cursive , Sans-serif;
	font-weight: bold;
	font-size: 40px;
	padding-top: 64px;
	border-bottom: solid 3px grey;
	margin-bottom: 1.5rem;
	line-height: 1.5;

}
 .pratos{
  	display: flex;
  	display: grid;
  	grid-gap: 30px;
  	grid-template-columns: repeat(auto-fit,minmax(315px, 1fr));
  	justify-content:center;
  	align-items: center;
  	padding-left: 153px;
  	margin: -3px 0px 0px 0px;
  }
  .card{
  	width: 15rem;
  	height: 14rem;
  	position: relative;
  	/*border-radius: 10px;*/
  	
 
  }
  .card-img-wrapper{
  	width:100%;
  	height:100%;
  	
    /*border-radius: 5px !important
  	border: 1px solid black;*/
   
  }
  .card-img-wrapper img{
  	object-fit: cover;
  	width:100%;
  	height:100%;
  	/*border-radius: 10px;*/
  	opacity: .8rem;
  	 /*border: 1px solid black;*/
  	filter: brightness(69%);
  	
  }
  .card-info{
  	position: absolute;
  	bottom: 0;
  	opacity: 0;
  	/*visibility: hidden;*/
  	padding: 2rem;
  	text-shadow: 0.3rem 0.2rem 0.3rem rgba(0,0,0,.6);
    text-align: center;
    transition: all.3s;

  }
  .card-info h2{
  	font-family: 'Poppins',Sans-serif;
  	font-size: 26px;
  	font-weight: bold;
  	color: #FD0505;
  }
  .card-info p{
  	font-family: 'Poppins',Sans-serif;
  	font-size: 20px;
  	font-weight: 600;
  	color: #fff;
  }
  .card-info button{
    width: 6rem;
  	font-family: 'Poppins',Sans-serif;
  	font-size: 1rem;
    border-radius: 7px;
    border: 1px solid white;
    color: white;
    background-color: #131010;

  	
  }
  .card-info button:hover{
  	background:white;
    color: #131010;
    transition:1s;
    outline: none;
    border:1px solid black;

  }
  .card:hover .card-info{
  	bottom: 2rem;
  	opacity: 1
  	/*visibility:visible;*/
  }

/*SESSÂO SERVIÇOS*/

.sessao-servicos{
	background-color: #111;
	padding: 0 0 110px 0;
}
.box-title{
	text-align: center;
}
.box-title h3{
	font-family: 'Courgette', cursive , Sans-serif;
	color: #F1FB4A;
	
	padding-top: 80px;
}
.box-title h1{
	font-family: 'Poppins' , Sans-serif;
	font-weight: bold;
	color: white;
}
.icone{
	color: white;
}
.box-title p{
	color: grey;
	font-family: 'Courgette', cursive , Sans-serif;
}
.card-box{
	display: flex;
	justify-content: center;
}
.icones{
	color: white;


}
.info-cards{
    width: 269px;
    height: 269px;
    border: 4px solid white;
    border-radius: 50%;

}
.inside-box{
    margin-top: 64px;
}
.info-cards i{
	margin-left: 110px;
	
}
.info-cards h2{
	font-family: 'Courgette', cursive , Sans-serif;
	color: #D2E629;
	font-size: 37px;
	text-align: center;
}
.info-cards p{
	color: white;
	text-align: center;
	font-family: 'Courgette', cursive , Sans-serif;
}
.card-box{
	margin-top: 110px;
	

}
/*FOOTER*/


.rodape{
	width: 100%;
	
	background-color: #000000;
	padding:60px 0 10px 0px;

}


.paragrafo-footer{
	font-family: 'Poppins' , Sans-serif;
	color: grey;
	font-size: 14px;
	margin:-42px 0 10px 0;
	text-align: center;

}
.icones-box{
	display: flex;
	justify-content: center;
	color: #B5B5B5;
}
 
.facebook{
	padding:10px;
	

}
